<form method="post" action="{{ path('list_user_delete', {'idUserList': list_user.idUserList}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ list_user.idUserList) }}">
    <button class="btn btn-danger">Delete</button>
</form>