{{ form_start(form) }}
<div class="form-row">
    <div class="col-md-6 mb-3">
        <label for="idListing">idListing : </label>
        {{ form_widget(form.idListing, { 'attr': {'class': 'form-control', 'id': 'idListing'} }) }}
    </div>
    <div class="col-md-6 mb-3">
        <label for="idUser">idUser : </label>
        {{ form_widget(form.idUser, { 'attr': {'class': 'form-control', 'id': 'idUser'} }) }}
    </div>
    <div class="col-md-6 mb-3">
        <label for="dateAss">dateAss : </label>
        {{ form_widget(form.dateAss, { 'attr': {'class': 'form-control', 'id': 'dateAss'} }) }}
    </div>
</div>

<br>

<div class="text-center">
    <button type="submit" class="btn btn-success" id="submitButton">Submit</button>
</div>

{{ form_end(form) }}