{% extends 'base.html.twig' %}

{% block title %}ListUser index{% endblock %}
{% block body %}

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">


            {% include "Common/Heading.html.twig" %}


            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-12 col-md-12 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header">ListesUsers </div>

                        <!--Card content-->
                        <div class="card-body">

                            <h1>ListUser index</h1>

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>IdUserList</th>
                                    <th>idListing</th>
                                    <th>idUser</th>
                                    <th>DateAss</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for list_user in list_users %}
                                    <tr>
                                        <td>{{ list_user.idUserList }}</td>
                                        <td>{{ list_user.idListing }}</td>
                                        <td>{{ list_user.idUser }}</td>
                                        <td>{{ list_user.dateAss ? list_user.dateAss|date('Y-m-d') : '' }}</td>
                                        <td>
                                            <a class="btn btn-green" href="{{ path('list_user_show', {'idUserList': list_user.idUserList}) }}">show</a>
                                            <a class="btn btn-danger" href="{{ path('list_user_edit', {'idUserList': list_user.idUserList}) }}">edit</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="3">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <a class="btn btn-blue" href="{{ path('list_user_new') }}">Create new</a>

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->


            </div>
            <!--Grid row-->


        </div>
    </main>
    <!--Main layout-->


{% endblock %}
















