<form method="post" action="{{ path('product_delete', {'idProduct': product.idProduct}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.idProduct) }}">
    <button class="btn btn-danger">Delete</button>
</form>
