{{ form_start(form) }}
<div class="form-row">
    <div class="col-md-6 mb-3">
        <label for="nom">nom : </label>
        {{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'id': 'nom'} }) }}
    </div>
    <div class="col-md-6 mb-3">
        <label for="prix">prix : </label>
        {{ form_widget(form.prix, { 'attr': {'class': 'form-control', 'id': 'prix'} }) }}
    </div>
    <div class="col-md-6 mb-3">
        <label for="dateCreat">dateCreat : </label>
        {{ form_widget(form.dateCreat, { 'attr': {'class': 'form-control', 'id': 'dateCreat'} }) }}
    </div>
    <div class="col-md-6 mb-3">
        <label for="fin">fin : </label>
        {{ form_widget(form.fin, { 'attr': {'class': 'form-control', 'id': 'fin'} }) }}
    </div>
    <div class="col-md-6 mb-3">
        <label for="idListing">idListing : </label>
        {{ form_widget(form.idListing, { 'attr': {'class': 'form-control', 'id': 'idListing'} }) }}
    </div>
</div>

<br>

<div class="text-center">
    <button type="submit" class="btn btn-success" id="submitButton">Submit</button>
</div>

{{ form_end(form) }}