{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}
{% block body %}

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">


            {% include "Common/Heading.html.twig" %}


            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-12 col-md-12 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header">Products </div>

                        <!--Card content-->
                        <div class="card-body">

                            <h1>Product index</h1>

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>IdProduct</th>
                                    <th>Nom</th>
                                    <th>Prix</th>
                                    <th>DateCreat</th>
                                    <th>Fin</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for product in products %}
                                    <tr>
                                        <td>{{ product.idProduct }}</td>
                                        <td>{{ product.nom }}</td>
                                        <td>{{ product.prix }}</td>
                                        <td>{{ product.dateCreat ? product.dateCreat|date('Y-m-d') : '' }}</td>
                                        <td>{{ product.fin ? 'Yes' : 'No' }}</td>
                                        <td>
                                            <a class="btn btn-green" href="{{ path('product_show', {'idProduct': product.idProduct}) }}">show</a>
                                            <a class="btn btn-danger" href="{{ path('product_edit', {'idProduct': product.idProduct}) }}">edit</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="6">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <a class="btn btn-blue" href="{{ path('product_new') }}">Create new</a>

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->


            </div>
            <!--Grid row-->


        </div>
    </main>
    <!--Main layout-->


{% endblock %}