{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}


{% block body %}

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">

            <!-- Heading -->
            <div class="card mb-4 wow fadeIn">

                <!--Card content-->
                <div class="card-body d-sm-flex justify-content-between">

                    <h4 class="mb-2 mb-sm-0 pt-1">
                        <a href="https://mdbootstrap.com/docs/jquery/" target="_blank">Home Page</a>
                        <span>/</span>
                        <span>Dashboard</span>
                    </h4>

                    <form class="d-flex justify-content-center">
                        <!-- Default input -->
                        <input type="search" placeholder="Type your query" aria-label="Search" class="form-control">
                        <button class="btn btn-primary btn-sm my-0 p" type="submit">
                            <i class="fas fa-search"></i>
                        </button>

                    </form>

                </div>

            </div>
            <!-- Heading -->

            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-12 col-md-12 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header">Clients </div>

                        <!--Card content-->
                        <div class="card-body">

                            <h1>Product</h1>

                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>IdProduct</th>
                                    <td>{{ product.idProduct }}</td>
                                </tr>
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ product.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Prix</th>
                                    <td>{{ product.prix }}</td>
                                </tr>
                                <tr>
                                    <th>DateCreat</th>
                                    <td>{{ product.dateCreat ? product.dateCreat|date('Y-m-d') : '' }}</td>
                                </tr>
                                <tr>
                                    <th>Fin</th>
                                    <td>{{ product.fin ? 'Yes' : 'No' }}</td>
                                </tr>
                                </tbody>
                            </table>

                            <a class="btn btn-brown" href="{{ path('product_index') }}">back to list</a>

                            <a class="btn btn-cyan" href="{{ path('product_edit', {'idProduct': product.idProduct}) }}">edit</a>

                            {{ include('product/_delete_form.html.twig') }}

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>
    </main>
    <!--Main layout-->

{% endblock %}