<!-- Heading -->
<div class="card mb-4 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">

        <h4 class="mb-2 mb-sm-0 pt-1">
            {{ 'Project courses partagées' }}
        </h4>


    </div>

</div>
<!-- Heading -->