<!--Main Navigation-->
<header>

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

        {% set _template = app.request.get('_controller')|split('::') %}
        {% set bundle = _template[0]|split('\\') %}
        <a class="logo-wrapper waves-effect">
            <img src="{{ asset('build/images/logoey.png')}}" class="img-fluid" alt="">
        </a>

        <div class="list-group list-group-flush">
            <a href="{{ path('dashboard') }}" class="list-group-item {% if bundle[2] == 'DashboardController' %} active {% endif %} list-group-item-action waves-effect">
                <i class="fas fa-globe-europe mr-3"></i>Acceuil
            </a>
            <a href="{{ path('list_user_index') }}" class="list-group-item {% if bundle[2] == 'ListUserController' %} active {% endif %} list-group-item-action waves-effect">
                <i class="fas fa-user-friends mr-3"></i>ListUser
            </a>
            <a href="{{ path('listing_index') }}" class="list-group-item {% if bundle[2] == 'ListingController' %} active {% endif %} list-group-item-action waves-effect">
                <i class="fas fa-user-friends mr-3"></i>Listing
            </a>
            <a href="{{ path('product_index') }}" class="list-group-item {% if bundle[2] == 'ProductController' %} active {% endif %} list-group-item-action waves-effect">
                <i class="fas fa-user-friends mr-3"></i>Products
            </a>
            <a href="{{ path('user_index') }}" class="list-group-item {% if bundle[2] == 'UserController' %} active {% endif %} list-group-item-action waves-effect">
                <i class="fas fa-user-friends mr-3"></i>Users
            </a>
        </div>

    </div>
    <!-- Sidebar -->

</header>
<!--Main Navigation-->