<form method="post" action="{{ path('listing_delete', {'idListing': listing.idListing}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ listing.idListing) }}">
    <button class="btn btn-danger">Delete</button>
</form>
