{{ form_start(form) }}
<div class="form-row">
    <div class="col-md-6 mb-3">
        <label for="nomListing">nomListing : </label>
        {{ form_widget(form.nomListing, { 'attr': {'class': 'form-control', 'id': 'nomListing'} }) }}
    </div>
    <div class="col-md-6 mb-3">
        <label for="descreptionListing">descreptionListing : </label>
        {{ form_widget(form.descreptionListing, { 'attr': {'class': 'form-control', 'id': 'descreptionListing'} }) }}
    </div>
    <div class="col-md-6 mb-3">
        <label for="finaly">finaly : </label>
        {{ form_widget(form.finaly, { 'attr': {'class': 'form-control', 'id': 'finaly'} }) }}
    </div>
    <div class="col-md-6 mb-3">
        <label for="priceTotal">priceTotal : </label>
        {{ form_widget(form.priceTotal, { 'attr': {'class': 'form-control', 'id': 'priceTotal'} }) }}
    </div>
    <div class="col-md-6 mb-3">
        <label for="dateCreat">dateCreat : </label>
        {{ form_widget(form.dateCreat, { 'attr': {'class': 'form-control', 'id': 'dateCreat'} }) }}
    </div>
    <div class="col-md-6 mb-3">
        <label for="dateFin">dateFin : </label>
        {{ form_widget(form.dateFin, { 'attr': {'class': 'form-control', 'id': 'dateFin'} }) }}
    </div>
</div>

<br>

<div class="text-center">
    <button type="submit" class="btn btn-success" id="submitButton">Submit</button>
</div>

{{ form_end(form) }}