{% extends 'base.html.twig' %}

{% block title %}Listing index{% endblock %}
{% block body %}

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">


            {% include "Common/Heading.html.twig" %}


            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-12 col-md-12 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header">Listes </div>

                        <!--Card content-->
                        <div class="card-body">

                            <h1>Listing index</h1>

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>IdListing</th>
                                    <th>NomListing</th>
                                    <th>DescreptionListing</th>
                                    <th>Finaly</th>
                                    <th>PriceTotal</th>
                                    <th>DateCreat</th>
                                    <th>DateFin</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for listing in listings %}
                                    <tr>
                                        <td>{{ listing.idListing }}</td>
                                        <td>{{ listing.nomListing }}</td>
                                        <td>{{ listing.descreptionListing }}</td>
                                        <td>{{ listing.finaly ? 'Yes' : 'No' }}</td>
                                        <td>{{ listing.priceTotal }}</td>
                                        <td>{{ listing.dateCreat ? listing.dateCreat|date('Y-m-d') : '' }}</td>
                                        <td>{{ listing.dateFin ? listing.dateFin|date('Y-m-d') : '' }}</td>
                                        <td>
                                            <a class="btn btn-green" href="{{ path('listing_show', {'idListing': listing.idListing}) }}">show</a>
                                            <a class="btn btn-danger" href="{{ path('listing_edit', {'idListing': listing.idListing}) }}">edit</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="8">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <a class="btn btn-blue" href="{{ path('listing_new') }}">Create new</a>

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->


            </div>
            <!--Grid row-->


        </div>
    </main>
    <!--Main layout-->


{% endblock %}