{% extends 'base.html.twig' %}

{% block title %}ListUser index{% endblock %}
{% block body %}

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">


            {% include "Common/Heading.html.twig" %}

            <div class="" style="width: auto">
                <div class="row" >
                    {% for list_user in list_users %}
                        <div class="col-md">
                            <div class="card text-center">
                                <div class="card-header">
                                    {% if (list_user.getIdListing.getFinaly) %}
                                        <h3 class="text-success" > Cloturé </h3>
                                    {% else %}
                                        <h3 class="text-primary" > en cours </h3>
                                    {% endif %}

                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">{{ list_user.getIdListing.getNomListing }}</h5>
                                    <p class="card-text">
                                        {{ list_user.getIdListing.getDescreptionListing }}
                                    </p>
                                    <h6>
                                        Prix Total de la liste : {{ list_user.getIdListing.getPriceTotal }}
                                    </h6>
                                    <a  class="btn btn-primary" href="{{ path('listing_edit', {'idListing': list_user.getIdListing.getIdListing}) }}" >valider</a>
                                </div>
                                <div class="card-footer text-muted">Liste crée le : {{ list_user.getIdListing.getDateCreatToString }} </div>
                            </div>
                            <div>
                                <h3 class="text-black text-center" style="background-color: #E8EAF6;margin: 10px "> Produits à acheter  </h3>
                            </div>
                            <div class="border text-center" style=" background-color: #E8EAF6;width: auto">
                                {% set tableaProduitCurent =list_produits[list_user.getIdListing.getIdListing]  %}
                                {% for ProduitCurent   in tableaProduitCurent %}
                                    {% if ProduitCurent.getFin  %}
                                        <div class="card text-white bg-success mb-3 " style="margin-top: 20px ;max-width: 18rem;margin-left: 30px;">
                                    {% else %}
                                        <div class="card text-body bg-info mb-3 " style="margin-top: 20px ;max-width: 18rem;margin-left: 30px;">
                                    {% endif %}
                                            <div class="card-header bg-transparent border-secondary  text-center">
                                                <h3 >{{ ProduitCurent.getNom }}</h3>

                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title">{{ ProduitCurent.getPrix  }} €</h4>
                                                <p class="card-text">
                                                    {{ ProduitCurent.getDateCreatToString  }}
                                                </p>
                                                <div class="row">
                                                    <div class="col-md">
                                                        <a   href="{{ path('product_edit', {'idProduct': ProduitCurent.getIdProduct}) }} " type="btn" class="btn btn-light"   ><i class="fas fa-cart-plus fa-2x"></i></a>
                                                    </div>
                                                    <div class="col-md">
                                                        <a   href="{{ path('product_show', {'idProduct': ProduitCurent.getIdProduct}) }}" type="btn" class="btn btn-danger"><i class="far fa-trash-alt fa-2x"></i>
                                                        </a>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                {% else %}
                                    no records found
                                {% endfor %}

                            </div>
                                <a class="btn btn-blue" href="{{ path('product_new') }}" style="margin-left: 80px">Ajouter produit</a>
                        </div>

                    {% else %}
                        no records found
                    {% endfor %}

                </div>
            </div>
            </div>
            </div>

    </main>
    <!--Main layout-->


{% endblock %}
















