<form method="post" action="{{ path('user_delete', {'idUser': user.idUser}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.idUser) }}">
    <button class="btn btn-danger">Delete</button>
</form>
