{{ form_start(form) }}
<div class="form-row">
    <div class="col-md-6 mb-3">
        <label for="nom">nom : </label>
        {{ form_widget(form.nom, { 'attr': {'class': 'form-control', 'id': 'nom'} }) }}
    </div>
    <div class="col-md-6 mb-3">
        <label for="prenom">prenom : </label>
        {{ form_widget(form.prenom, { 'attr': {'class': 'form-control', 'id': 'prenom'} }) }}
    </div>
    <div class="col-md-6 mb-3">
        <label for="email">email : </label>
        {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'id': 'email'} }) }}
    </div>
    <div class="col-md-6 mb-3">
        <label for="password">password : </label>
        {{ form_widget(form.password, { 'attr': {'class': 'form-control', 'id': 'password'} }) }}
    </div>
    <div class="col-md-6 mb-3">
        <label for="adresse">adresse : </label>
        {{ form_widget(form.adresse, { 'attr': {'class': 'form-control', 'id': 'adresse'} }) }}
    </div>
    <div class="col-md-6 mb-3">
        <label for="ville">ville : </label>
        {{ form_widget(form.ville, { 'attr': {'class': 'form-control', 'id': 'ville'} }) }}
    </div>
    <div class="col-md-6 mb-3">
        <label for="codePostal">codePostal : </label>
        {{ form_widget(form.codePostal, { 'attr': {'class': 'form-control', 'id': 'codePostal'} }) }}
    </div>
    <div class="col-md-6 mb-3">
        <label for="pays">pays : </label>
        {{ form_widget(form.pays, { 'attr': {'class': 'form-control', 'id': 'pays'} }) }}
    </div>
    <div class="col-md-6 mb-3">
        <label for="username">username : </label>
        {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'id': 'username'} }) }}
    </div>
</div>

<br>

<div class="text-center">
    <button type="submit" class="btn btn-success" id="submitButton">Submit</button>
</div>

{{ form_end(form) }}