{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}
{% block body %}

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">


            {% include "Common/Heading.html.twig" %}


            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-12 col-md-12 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header">Users </div>

                        <!--Card content-->
                        <div class="card-body">

                            <h1>User index</h1>

                            <table class="table">
                                <thead>
                                <tr>
                                    <th>IdUser</th>
                                    <th>Nom</th>
                                    <th>Prenom</th>
                                    <th>Email</th>
                                    <th>Username</th>
                                    <th>Adresse</th>
                                    <th>Ville</th>
                                    <th>CodePostal</th>
                                    <th>Pays</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.idUser }}</td>
                                        <td>{{ user.nom }}</td>
                                        <td>{{ user.prenom }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.adresse }}</td>
                                        <td>{{ user.ville }}</td>
                                        <td>{{ user.codePostal }}</td>
                                        <td>{{ user.pays }}</td>
                                        <td>
                                            <a class="btn btn-green" href="{{ path('user_show', {'idUser': user.idUser}) }}">show</a>
                                            <a class="btn btn-danger" href="{{ path('user_edit', {'idUser': user.idUser}) }}">edit</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="11">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <a class="btn btn-blue" href="{{ path('user_new') }}">Create new</a>

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->


            </div>
            <!--Grid row-->


        </div>
    </main>
    <!--Main layout-->


{% endblock %}
