{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}


{% block body %}

    <!--Main layout-->
    <main class="pt-5 mx-lg-5">
        <div class="container-fluid mt-5">

            <!-- Heading -->
            <div class="card mb-4 wow fadeIn">

                <!--Card content-->
                <div class="card-body d-sm-flex justify-content-between">

                    <h4 class="mb-2 mb-sm-0 pt-1">
                        <a href="https://mdbootstrap.com/docs/jquery/" target="_blank">Home Page</a>
                        <span>/</span>
                        <span>Dashboard</span>
                    </h4>

                    <form class="d-flex justify-content-center">
                        <!-- Default input -->
                        <input type="search" placeholder="Type your query" aria-label="Search" class="form-control">
                        <button class="btn btn-primary btn-sm my-0 p" type="submit">
                            <i class="fas fa-search"></i>
                        </button>

                    </form>

                </div>

            </div>
            <!-- Heading -->

            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-lg-12 col-md-12 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header">Clients </div>

                        <!--Card content-->
                        <div class="card-body">

                            <h1>User</h1>

                            <table class="table">
                                <tbody>
                                <tr>
                                    <th>IdUser</th>
                                    <td>{{ user.idUser }}</td>
                                </tr>
                                <tr>
                                    <th>Nom</th>
                                    <td>{{ user.nom }}</td>
                                </tr>
                                <tr>
                                    <th>Prenom</th>
                                    <td>{{ user.prenom }}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{ user.email }}</td>
                                </tr>
                                <tr>
                                    <th>Password</th>
                                    <td>{{ user.password }}</td>
                                </tr>
                                <tr>
                                    <th>Adresse</th>
                                    <td>{{ user.adresse }}</td>
                                </tr>
                                <tr>
                                    <th>Ville</th>
                                    <td>{{ user.ville }}</td>
                                </tr>
                                <tr>
                                    <th>CodePostal</th>
                                    <td>{{ user.codePostal }}</td>
                                </tr>
                                <tr>
                                    <th>Pays</th>
                                    <td>{{ user.pays }}</td>
                                </tr>
                                <tr>
                                    <th>Username</th>
                                    <td>{{ user.username }}</td>
                                </tr>
                                </tbody>
                            </table>

                            <a class="btn btn-brown" href="{{ path('user_index') }}">back to list</a>

                            <a class="btn btn-cyan" href="{{ path('user_edit', {'idUser': user.idUser}) }}">edit</a>

                            {{ include('user/_delete_form.html.twig') }}

                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>
    </main>
    <!--Main layout-->

{% endblock %}